<div class="container mx-auto p-6">
  <!-- Search Section -->
  <div class="mb-4 flex items-center justify-between">
    <h1 class="text-2xl font-semibold text-gray-700">Records</h1>
    <div class="flex items-center space-x-2">
      <input
        type="text"
        placeholder="Search..."
        class="w-full md:w-64 px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring focus:ring-blue-300 focus:border-blue-500"
      />
      <button
        class="px-4 py-2 border-gray-200 dark:bg-gray-600 text-white text-sm font-medium rounded-lg shadow hover:dark:bg-gray-400 focus:outline-none focus:ring focus:ring-blue-300"
      >
        Search
      </button>
    </div>
  </div>

  <!-- Table Section -->
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <table class="min-w-full bg-white">
      <thead class="bg-gray-100 border-b">
        <tr>
          <th class="p-3 text-sm font-semibold text-left text-gray-700 bg-gray-200">ID</th>
          <th class="p-3 text-sm font-semibold text-left text-gray-700 bg-gray-200">User</th>
          <th class="p-3 text-sm font-semibold text-left text-gray-700 bg-gray-200">Title</th>
          <th class="p-3 text-sm font-semibold text-left text-gray-700 bg-gray-200">Description</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td class="px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50">
              <%= task.id %>
            </td>
            <td class="px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50">
              <%= task.user.email %>
            </td>
            <td class="px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50">
              <%= task.title %>
            </td>
            <td class="px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50">
              <%= task.description %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>