<div class="grid grid-cols-2 gap-2">
  <div class="">
    <div class="">Title selling the product</div>
    <div class="mt-10">Text selling the product</div>
    <div class="mt-10">Show clients review</div>
  </div>
  <div class="">
    <div class="" >
      <%= image_tag 'welcome-image.png', alt: 'Description', class: 'object-fill' %>
    </div>
  </div>
</div>